* {
	box-sizing: border-box;
	transition: all .25s ease-in-out;
}

html {
	font-size: 10px;
}

body {
	background-color: #F1F1F1;
	font-family: Arial, sans-serif;
	color: #c2c2c2;
}
.container {
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
}
.block {
	display: inline-block;
	width: 30%;
}

.block--mleft {
	margin-left: 50px;
} 

.block--img-round img {
	border-radius: 50%;
}	

h2 {
	text-transform: uppercase;
	font-size: 2rem;
}
ul {
	list-style-type: none;
	padding: 0;
}

a {
	background-color: rgba(118,117,128,0.05);
	display: block;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 0;
		color: #c2c2c2;
}

li {
	margin-bottom: 5px;
}

span {
	font-size: 1.4rem;
	font-weight: 600;
	padding-left: 10px;
	vertical-align: middle;
	width: calc(100% - 50px);
	font-size: 14px;
	display: inline-block;
}

ul li img {
	vertical-align: middle;
	width: 50px;
}

.block a:hover,
.block a:focus {
	background-color: rgba(118,117,128,0.1);
	color: red;
}

form {
	font-size: 0;
}

.form {
	width: 90%;
	display: inline-block;
	border: none;
	background-color: transparent;
	font-size: 95px;
	font-weight: 700;
	outline: none;
	color: #ec5a62;
	vertical-align: middle;
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.btn {
	display: inline-block;
	width: 80px;
	height: 80px;
	background: transparent url('magnifier.svg') no-repeat center center;
	border: none;
	outline: none;
	vertical-align: middle;
	-webkit-appearance: none;
}

.btn:hover {
	transform: scale(1.1)
}

input[type="search"]::-webkit-input-placeholder {
    color: #c2c2c2;
} 

.alllists {
	margin-top: 40px;
	margin-bottom: 80px;
}